<h1>Editing oauth session</h1>

<%= render "form", oauth_session: @oauth_session %>

<br>

<div>
  <%= link_to "Show this oauth session", @oauth_session %> |
  <%= link_to "Back to oauth sessions", oauth_sessions_path %>
</div>
