<h1>Welcome to BranchCrunchBot!</h1>

<p>If you are the owner of BrandCrunchBot, please click the button below to sign in.</p>

<p>If you are not the owner of BrandCrunchBot, you probably should not be here...</p>

<% if user_signed_in? %>
 <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path, method: :get %>
<% end %>
