<h1>Welcome to BranchCrunchBot!</h1>

<% unless current_user %>
  <p>If you are the owner of BrandCrunchBot, please click the button below to sign in.</p>

  <p>If you are not the owner of BrandCrunchBot, you probably should not be here...</p>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <%= button_to "Sign in", new_user_session_path, method: :get %>
<% end %>



<% if current_user %>
  <p>You are logged in, <%= current_user.email %></p>


<% end %>
